<p>
  <b>Roleid:</b>
  <%=h @mdl_role_assignment.roleid %>
</p>

<p>
  <b>Userid:</b>
  <%=h @mdl_role_assignment.userid %>
</p>


<%= link_to 'Edit', edit_mdl_role_assignment_path(@mdl_role_assignment) %> |
<%= link_to 'Back', mdl_role_assignments_path %>
